**/.git
**/node_modules
**/*.ts
**/tsconfig.json
**/esbuild.mjs
**/scripts
**/.env
**/.env.*
**/secret*
**/key*
*.vsix
out/
*.log
coverage/
src/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
PLAN.md
